@model IEnumerable<EStore2.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Giỏ hàng bao gồm : <span>@Model.Count()</span> Sản phẩm</h2>
<div class="checkout-right">
    <table class="timetable_sub">
        <thead>
            <tr>
                <th>Mã hàng hóa</th>
                <th>Tên sản phẩm</th>
                <th>Hình</th>
                <th>Số lương</th>
                <th>Giá tiền</th>
                <th>Xóa</th>
                <th>Cập nhât</th>
            </tr>
        </thead>
       
        @foreach (var item in Model)
        {
          
        <tr id="rem">
            <td class="invert">@item.MaHh</td>
            <td class="invert">@item.TenHh</td>
            <td class="invert-image"><a asp-action="ProductDetail" asp-controller="HangHoa" asp-route-id="@item.MaHh"><img src="~/Hinh//HangHoa/@item.Hinh" alt=" " class="img-responsive" /></a></td>
            <td class="invert">
                <input type="number" name="sl" value="@item.SoLuong" style="width:50px"/>
            </td>
            <td class="invert">@item.ThanhTien</td>
            <td class="invert">
                <div class="rem">
                    <a asp-action="DeleteItemCart" asp-controller="Cart" asp-route-mahh="@item.MaHh" class="close1"><img src="~/images/close_1.png" alt="Xóa" /></a>
                </div>
                <script>
                    $(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            $('.rem').fadeOut('slow', function (c) {
                                $('.rem').remove();
                            });
                        });
                    });
                </script>
            </td>
            <td>
                <a  asp-action="UpdateGioHang" asp-controller="Cart" asp-route-mahh="@item.MaHh"><input type="button" value="Cập nhật" /></a>
            </td>
        </tr>
        }
        <!--quantity-->
        
    </table>
</div>
<div class="checkout-left">
    <div class="checkout-left-basket">
        <h4>Thanh Toán</h4>
        <ul>
            @{ 
                var tongtien = 0.0;
            }
            @foreach (var item in Model)
            {
                tongtien = tongtien + item.ThanhTien;
                <li>@item.TenHh <i>-</i> <span>@item.ThanhTien</span></li>
            }
            <li>Phí vận chuyển<i>-</i> <span>30,000đ</span></li>
            <li>Tổng cộng <i>-</i> <span>@tongtien</span></li>
        </ul>
    </div>
    <div class="checkout-right-basket">
        <a href="single.html"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Tiếp tục mua hàng</a>
    </div>
    <div class="clearfix"> </div>
</div>
